* {
    box-sizing: border-box;
}

body {
    background-color: rgb(198, 199, 200);
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

header {
    background-color: rgb(133, 133, 133);
    border-image: url(./icons/icon.png) 30 round;
    text-align: center;
    margin-bottom: 10px;
    padding: 2px;
    font-size: 25px;
    font-family: fantasy;
    color: black;
    border-radius: 100px;
}

form {
    text-align: center;
}

textarea {
    width: 1197px;
    height: 326px;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}